:root {
  /* primary */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-footer-text: hsl(168, 34%, 41%);

  /* neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue-400: hsl(210, 4%, 67%);
  --clr-grayish-blue-500: hsl(232, 10%, 55%);
  --clr-grayish-blue-600: hsl(213, 9%, 39%);
  --clr-grayish-blue-700: hsl(212, 27%, 19%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  color: var(--clr-heading);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* links */
a {
  text-decoration: none;
}

.underline {
  border-style: solid;
  border-width: 0 0 10px;
  display: inline-block;
  line-height: 0.5;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  transition: all 0.15s;
}

.underline--yellow {
  border-color: hsla(51, 100%, 49%, 0.3);
}

.underline--yellow:hover {
  border-color: var(--clr-yellow);
}

.underline--red {
  border-color: hsla(7, 99%, 70%, 0.3);
}

.underline--red:hover {
  border-color: var(--clr-soft-red);
}

/* list */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* buttons */
.btn {
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  font-weight: bold;
  outline: none;
  padding: 1.3rem 2.5rem;
  transition: all 0.3s;
}

.btn--white {
  background-color: var(--clr-white);
  color: var(--clr-dark-blue);
}

.btn--white:hover {
  color: var(--clr-white);
  background-color: hsla(0, 0%, 100%, 0.5);
}

.btn--yellow {
  background-color: var(--clr-yellow);
  color: var(--clr-grayish-blue-700);
}

/* grid */
.grid {
  display: grid;
}

.grid--cols-2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid--cols-2x3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .grid--cols-3x1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--cols-4x1 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* testimonials */
.testimonial__image {
  display: flex;
  justify-content: center;
}

.testimonial__image img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.quote {
  text-align: center;
}

.quote__text {
  color: var(--clr-grayish-blue-500);
  margin: 3rem 0;
}

.quote__author {
  color: var(--clr-grayish-blue-700);
}

.quote__organization {
  color: var(--clr-grayish-blue-400);
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .quote__text {
    margin: 6rem 0;
  }
}

/* block */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.block {
  text-align: center;
  padding: 2rem;
}

.block__title {
  font-weight: 700;
  margin-bottom: 3rem;
}

.block__text {
  color: var(--clr-grayish-blue-600);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .block {
    text-align: start;
  }

  .block__title {
    margin-bottom: 4rem;
  }
}

/* collapsible */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 3rem 0;
}

.nav__list {
  background-color: var(--clr-white);
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.nav__item {
  padding: 1.3rem 2rem;
}

.nav__link {
  color: var(--clr-grayish-blue-400);
  transition: all 0.3s;
}

.nav__link.btn {
  background-color: white;
  color: var(--clr-dark-blue);
}

.nav__toggler {
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
}

.collapsible--expanded .nav__toggler {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav {
    padding-top: 1rem;
  }
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    background-color: transparent;
  }

  .nav__item .btn {
    background-color: white;
    color: var(--clr-grayish-blue-700);
  }
}
