:root {
  /* primary */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-dark-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-footer-text: hsl(168, 34%, 41%);

  /* neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-grayish-blue-400: hsl(210, 4%, 67%);
  --clr-grayish-blue-500: hsl(232, 10%, 55%);
  --clr-grayish-blue-600: hsl(213, 9%, 39%);
  --clr-grayish-blue-700: hsl(212, 27%, 19%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  /* font-family: "Fraunces", serif; */
  font-size: 1.8rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--clr-heading);
  line-height: 1.1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* links */
a {
  text-decoration: none;
}

.underline {
  border-style: solid;
  border-width: 0 0 10px;
  display: inline-block;
  line-height: 0.5;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.underline--yellow {
  border-color: hsla(51, 100%, 49%, 0.3);
}

.underline--red {
  border-color: hsla(7, 99%, 70%, 0.3);
}

/* list */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
