<div class="grid grid--cols-2x2 grid--cols-4x1 image-gallery">
  <picture>
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-gallery-milkbottles.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/mobile/image-gallery-milkbottles.jpg"
    />
    <img src="/images/desktop/image-gallery-milkbottles.jpg" alt="" />
  </picture>

  <picture>
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-gallery-orange.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/mobile/image-gallery-orange.jpg"
    />
    <img src="/images/desktop/image-gallery-orange.jpg" alt="" />
  </picture>

  <picture>
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-gallery-cone.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/mobile/image-gallery-cone.jpg"
    />
    <img src="/images/desktop/image-gallery-cone.jpg" alt="" />
  </picture>

  <picture>
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-gallery-sugarcubes.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/desktop/image-gallery-sugarcubes.jpg"
    />
    <img src="/images/desktop/image-gallery-sugarcubes.jpg" alt="" />
  </picture>
</div>
