<div class="grid grid--cols-2x3 about-us">
  <div class="block">
    <h2 class="block__title">Transform your brand</h2>
    <p class="block__text">
      We are a full-service creative agency specializing in helping brands grow
      fast. Engage your clients through compelling visuals that do most of the
      marketing for you.
    </p>
    <a class="underline underline--yellow" href="">Learn More</a>
  </div>

  <picture class="transform-image">
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-transform.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/mobile/image-transform.jpg"
    />
    <img
      class="about-us__image"
      src="/images/desktop/image-transform.jpg"
      alt=""
    />
  </picture>

  <picture>
    <source
      media="(min-width: 601px)"
      srcset="/images/desktop/image-stand-out.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="/images/mobile/image-stand-out.jpg"
    />
    <img
      class="about-us__image"
      src="/images/desktop/image-stand-out.jpg"
      alt=""
    />
  </picture>

  <div class="block">
    <h2 class="block__title">Stand out to the right audience</h2>
    <p class="block__text">
      Using a collaborative formula of designers, researchers, photographers,
      videographers, and copywriters, we’ll build and extend your brand in
      digital places.
    </p>
    <a class="underline underline--red" href="">Learn More</a>
  </div>

  <div class="image-container">
    <picture>
      <source
        media="(min-width: 601px)"
        srcset="/images/desktop/image-graphic-design.jpg"
      />
      <source
        media="(max-width: 600px)"
        srcset="/images/mobile/image-graphic-design.jpg"
      />
      <img
        class="about-us__image"
        src="/images/mobile/image-graphic-design.jpg"
        alt=""
      />
    </picture>
    <div class="block image__content image__content--cyan">
      <h2 class="block__title">Graphic design</h2>
      <p class="block__text">
        Great design makes you memorable. We deliver artwork that underscores
        your brand message and captures potential clients’ attention.
      </p>
    </div>
  </div>

  <div class="image-container">
    <picture>
      <source
        media="(min-width: 601px)"
        srcset="/images/desktop/image-photography.jpg"
      />
      <source
        media="(max-width: 600px)"
        srcset="/images/mobile/image-photography.jpg"
      />
      <img
        class="about-us__image"
        src="/images/desktop/image-photography.jpg"
        alt=""
      />
    </picture>
    <div class="block image__content image__content--blue">
      <h2 class="block__title">Photography</h2>
      <p class="block__text">
        Increase your credibility by getting the most stunning, high-quality
        photos that improve your business image.
      </p>
    </div>
  </div>
</div>
