<div class="testimonials-container">
  <h3 class="testimonials__header">client testimonials</h3>
  <div class="grid grid--cols-3x1 testimonials">
    <div class="testimonial">
      <div class="testimonial__image">
        <img src="/images/image-emily.jpg" alt="" />
      </div>

      <div class="quote">
        <p class="quote__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          optio officiis dolore earum error eaque perferendis laudantium sed
          praesentium dolorum.
        </p>
        <footer>
          <h3 class="quote__author">Emily R.</h3>
          <p class="quote__organization">Marketing Director</p>
        </footer>
      </div>
    </div>

    <div class="testimonial">
      <div class="testimonial__image">
        <img src="/images/image-emily.jpg" alt="" />
      </div>

      <div class="quote">
        <p class="quote__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          optio officiis dolore earum error eaque perferendis laudantium sed
          praesentium dolorum.
        </p>
        <footer>
          <h3 class="quote__author">Emily R.</h3>
          <p class="quote__organization">Marketing Director</p>
        </footer>
      </div>
    </div>

    <div class="testimonial">
      <div class="testimonial__image">
        <img src="/images/image-emily.jpg" alt="" />
      </div>

      <div class="quote">
        <p class="quote__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          optio officiis dolore earum error eaque perferendis laudantium sed
          praesentium dolorum.
        </p>
        <footer>
          <h3 class="quote__author">Emily R.</h3>
          <p class="quote__organization">Marketing Director</p>
        </footer>
      </div>
    </div>
  </div>
</div>
