<div class="grid grid--cols-2x3">
  <div style="height: 200px; background-color: dodgerblue"></div>
  <div style="height: 200px; background-color: gold"></div>
  <div style="height: 200px; background-color: purple"></div>
  <div style="height: 200px; background-color: darkcyan"></div>
  <div style="height: 200px; background-color: forestgreen"></div>
  <div style="height: 200px; background-color: yellowgreen"></div>
</div>

<div class="grid grid--cols-2x2">
  <div style="height: 300px; background-color: dodgerblue"></div>
  <div style="height: 300px; background-color: gold"></div>

  <div style="height: 300px; background-color: darkmagenta"></div>
  <div style="height: 300px; background-color: orange"></div>
</div>
