<div class="testimonial">
  <div class="testimonial__image">
    <img src="/images/image-emily.jpg" alt="" />
  </div>

  <blockquote class="quote">
    <p class="quote__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio
      officiis dolore earum error eaque perferendis laudantium sed praesentium
      dolorum.
    </p>
    <footer>
      <h3 class="quote__author">Emily R.</h3>
      <p class="quote__organization">Marketing Director</p>
    </footer>
  </blockquote>
</div>
